@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(70px);
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-top {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes highlight {
  from {
    visibility: hidden;
    color: $color-default-black;
  }

  to {
    visibility: visible;
    background-position: 200% center;
  }
}

@keyframes rotate-45deg {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(45deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes scream {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes lightning-violet-left {
  0% {
    opacity: 0;
    transform: translate(20px, 20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes lightning-red {
  0% {
    opacity: 0;
    transform: translate(20px, 40px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes lightning-blue {
  0% {
    opacity: 0;
    transform: translate(-10px, 30px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes lightning-violet-right {
  0% {
    opacity: 0;
    transform: translate(-10px, 10px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
